@model LipitaSystems.Data.Models.Product

@{
    ViewData["Title"] = "Details";
}

<br>
<br>
<br>
<section class="mt-5 container">
    <h1>Детайли</h1>

    <div>
        <h4>Продукт</h4>
        <hr />
        <div>
            <img src="@Model.Images.FirstOrDefault()?.Url" alt="Alternate Text" />
        </div>

        <dl class="row">
            <dt class="col-sm-2">
                Име
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                Описание
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                Оригинална цена
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OriginalPrice)
            </dd>
            <dt class="col-sm-2">
                Процент намеление
            </dt>
            <dd class="col-sm-10">
                @{
                    var perc = Model.DiscountPercentage == null ? 0 : Model.DiscountPercentage;
                    @Html.DisplayFor(model => perc)
                }
            </dd>
            <dt class="col-sm-2">
                Бройки в наличност
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.QuantityInStock)
            </dd>
            <dt class="col-sm-2">
                Категория
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
            <dt class="col-sm-2">
                Изтрито ли е
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
            <dt class="col-sm-2">
                Кога е изтриро
            </dt>
            <dd class="col-sm-10">
                @{
                    var date = Model.DeletedOn == null ? "-" : Model.DeletedOn.ToString();
                    @Html.DisplayFor(model => date)
                }
            </dd>
            <dt class="col-sm-2">
                Кога е създадено
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
            <dt class="col-sm-2">
                Кога е променено
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Промени</a> |
        <a asp-action="Index">Назад</a>
    </div>
</section>