@model IEnumerable<LipitaSystems.Data.Models.Product>

@{
    ViewData["Title"] = "Продукти";
}

<br>
<br>
<br>
<section class="container mt-5">
    <h1>Продукти</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Създай нов продукт</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Име
                </th>
                <th>
                    Описание
                </th>
                <th>
                    Оригинална цена
                </th>
                <th>
                    Процент намален
                </th>
                <th>
                    В наличност
                </th>
                <th>
                    Категория
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginalPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountPercentage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityInStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>