@model IEnumerable<LipitaSystems.Data.Models.News>

@{
    ViewData["Title"] = "Index";
}

<br>
<br>
<br>
<section class="mt-5 container">
    <h1>Новини</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Създай нова</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Заглавие
                </th>
                <th>
                    Съдържание
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                        <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Инфо</a> |
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>