@using LipitaSystems.Common
@model List<LipitaSystems.Web.ViewModels.ViewModels.FrontImageViewModel>
@{
    this.ViewData["Title"] = "Home";
}

<section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <a href="#services">
                <div class="carousel-item active" style="background-image: url('@Url.Content("~/img/cybersecurity-ict-solutions-malta-blog.jpg")')">
                </div>
            </a>

            @foreach (var frontImage in Model)
            {
                <div class="carousel-item" style="background-image: url(@frontImage.ImageUrl)">
                    <div class="container">
                        <h2>@frontImage.Heading</h2>
                        <p>@frontImage.Content</p>
                        <a href="@frontImage.RedirectUrl" class="btn-get-started scrollto">Виж повече</a>
                    </div>
                </div>
            }
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</section>
<!--<section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1 class="">
            <strong>Добре дошли в <span>Lipita Systems.</span></strong>
        </h1>
        <div class="d-flex mt-5">
            <a href="#services" class="btn-get-started scrollto">Какво предлагаме ?</a>
        </div>
    </div>
</section>-->
<!-- End Hero -->

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="icofont-computer"></i></div>
                        <h4 class="title"><a href="">Lipita Systems</a></h4>
                        <p class="description">Ние сме малка компания в IT сектора, занимаваща се с контрол на достъпа, хостване и изграждане на смарт системи.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="icofont-badge"></i></div>
                        <h4 class="title"><a href="">Качество</a></h4>
                        <p class="description">Нашите продукти и услуги са с изпитано качество и висок стандарт.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="icofont-check-circled"></i></div>
                        <h4 class="title"><a href="">Сигурност</a></h4>
                        <p class="description">Сигурност и надеждност. Това са целите при изграждането на нашите системи.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="icofont-gears"></i></i></div>
                        <h4 class="title"><a href="">Разнообразие</a></h4>
                        <p class="description">Предлагаме голям избор от услуги и стоки от IT сектора. Вижте нашия магазин и секция "Услуги" за повече информация.</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Featured Services Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Услуги</h2>
                <h3><span>Услугите</span>, които предлагаме</h3>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <a asp-area="" asp-controller="Host" asp-action="Hosting"><div class="icon"><i class="icofont-server"></i></div></a>
                        <h4><a asp-area="" asp-controller="Host" asp-action="Hosting">Хостинг</a></h4>
                        <a asp-area="" asp-controller="Host" asp-action="Hosting" class="text-dark">Разполагаме с набор от сървърни машини за хостване. Вижте повече информация за това, което предлагаме.</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <a asp-area="" asp-controller="Host" asp-action="SecurityControle"><div class="icon"><i class="icofont-lock"></i></div></a>
                        <h4><a asp-area="" asp-controller="Host" asp-action="SecurityControle">Контрол на достъпа</a></h4>
                        <a asp-area="" asp-controller="Host" asp-action="SecurityControle" class="text-dark">Изграждане на различни системи за контрол на достъпа по Ваше желание.</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <a asp-area="" asp-controller="Host" asp-action="Maintanance"><div class="icon"><i class="icofont-monitor"></i></div></a>
                        <h4><a asp-area="" asp-controller="Host" asp-action="Maintanance">Поддръжка на компютърни системи</a></h4>
                        <a asp-area="" asp-controller="Host" asp-action="Maintanance" class="text-dark">Абонаментна или еднократна поддръжка и профилактика на компютърни системи.</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <a asp-area="" asp-controller="Shop" asp-action="All"><div class="icon"><i class="icofont-shopify"></i></div></a>
                        <h4><a asp-area="" asp-controller="Shop" asp-action="All">Магазин</a></h4>
                        <a asp-area="" asp-controller="Shop" asp-action="All" class="text-dark">Тук може да видините продуктите които предлагаме за Контрол на достъпа, Смарт хоум устройства и други.</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <a asp-area="" asp-controller="Host" asp-action="Websites"><div class="icon"><i class="icofont-web"></i></div></a>
                        <h4><a asp-area="" asp-controller="Host" asp-action="Websites">Изграждане на уеб сайтове</a></h4>
                        <a asp-area="" asp-controller="Host" asp-action="Websites" class="text-dark">Изграждане на перфектен уеб сайт за Вашия бизнес.</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <a asp-area="" asp-controller="Host" asp-action="Others">
                            <div class="icon"><i class="icofont-headphone-alt"></i></div>
                        </a>
                        <h4><a asp-area="" asp-controller="Host" asp-action="Others">Други услуги</a></h4>
                        <a asp-area="" asp-controller="Host" asp-action="Others" class="text-dark">Изпълнение на друг вид поръчки и услуги в нашата сфера по договаряне с клиента.</a>
                    </div>
                </div>

            </div>

        </div>
    </section>
</main>
