@model LipitaSystems.Data.Models.SecondaryCategory

@{
    ViewData["Title"] = "Details";
}


<br>
<br>
<br>
<section class="mt-5 container">
    <h1>Детайли</h1>

    <div>
        <h4>Съб Категории</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Име
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                Адрес на снимка
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImageUrl)
            </dd>
            <dt class="col-sm-2">
                Главна категория
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MainCategory.Name)
            </dd>
            <dt class="col-sm-2">
                Изтрито ли е
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
            <dt class="col-sm-2">
                Кога е изтрито
            </dt>
            <dd class="col-sm-10">
                @{
                    var date = Model.DeletedOn == null ? "-" : Model.DeletedOn.ToString();
                    @Html.DisplayFor(model => date)
                }
            </dd>
            <dt class="col-sm-2">
                Кога е създадено
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedOn)
            </dd>
            <dt class="col-sm-2">
                Кога е променено
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModifiedOn)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Промени</a> |
        <a asp-action="Index">Назад</a>
    </div>
</section>
