@model IEnumerable<LipitaSystems.Data.Models.SecondaryCategory>

@{
    ViewData["Title"] = "Index";
}

<br>
<br>
<br>
<section class="container mt-5">
    <h1>Съб Категории</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Създай Съб Категория</a>
    </p>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    Име
                </th>
                <th>
                    Име на Главна Категория
                </th>
                <th>
                    Създадено на:
                </th>
                <th>
                    Променено на:
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainCategory.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                        <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Инфо</a> |
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>