@model List<LipitaSystems.Web.ViewModels.ViewModels.Orders.AdminAreaOrderViewModel>

@{
    ViewData["Title"] = "Index";
}
<br>
<br>
<br>
<section class="container mt-5">
    <h1>Поръчки</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    Име на копувач
                </th>
                <th>
                    Тефонен номерр
                </th>
                <th>
                    Обща цена
                </th>
                <th>
                    Вид на доставка
                </th>
                <th>
                    Дата на портката
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @item.TotalPrice
                </td>
                <td>
                    @item.DeliveryType
                </td>
                <td>
                    @item.CreatedOn
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</section>