@model List<LipitaSystems.Web.ViewModels.ViewModels.Categories.MainCategoriesSelectListViewModel>

<br>
<br>
<br>
<section id="team" class="team section-bg mt-5">
    <div class="container" data-aos="fade-up">

        <nav aria-label="breadcrumb" class="">
            <ol class="breadcrumb bg-white">
                <li class="breadcrumb-item"><a href="#">Начало</a></li>
                <li class="breadcrumb-item active" aria-current="page">Магазин</li>
            </ol>
        </nav>
        <div class="section-title">
            <h2>Магазин</h2>
            <h3>Избери от нашите <span>Продукти</span></h3>

        </div>

        <div class="row">

            @foreach (var category in Model)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="member-img">
                            <a asp-area="" asp-controller="Shop" asp-action="AllSubCategories" asp-route-id="@category.Id">
                                <img src=@category.Url class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="member-info">
                            <h4 class="d-inline"><a asp-area="" asp-controller="Shop" asp-action="AllSubCategories" asp-route-id="@category.Id" class="text-dark">@category.Name</a></h4>
                            <i id="showDropDown" style="font-size:30px" class="d-inline float-right icofont-arrow-down"></i>
                            <ul class="list-unstyled" hidden>
                                @if (category.SecondaryCategories.Any())
                                {
                                    @foreach (var subCategory in category.SecondaryCategories)
                                    {
                                        <li class="mb-1"><a asp-area="" asp-controller="Shop" asp-action="AllSubCategories" asp-route-id="@category.Id"><i class="icofont-arrow-right"></i>@subCategory.Name</a></li>
                                    }
                                }
                                else
                                {
                                    <li class="mb-1"><a asp-area="" asp-controller="Home" asp-action="Index"><i class="icofont-arrow-right"></i>@category.Name</a></li>
                                    <li class="mb-1">Няма под категории!</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts
{
    <script src="~/js/ShowHideDropDownCategories.js"></script>
}