@model LipitaSystems.Web.ViewModels.ViewModels.Categories.SubCategoriesViewModel
<br>
<br>
<br>
<section id="team" class="team section-bg mt-5">
    <div class="container" data-aos="fade-up">

        <nav aria-label="breadcrumb" class="">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a style="color: #00283a" asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
                <li class="breadcrumb-item"><a style="color: #00283a" asp-area="" asp-controller="Shop" asp-action="All">Магазин</a></li>
                <li class="breadcrumb-item active" aria-current="page">@Model.Category</li>
            </ol>
        </nav>
        <div class="section-title">
            <h2>@Model.Category</h2>
            @if (!Model.SubCategories.Any())
            {
                <p class="h3 text-danger mt-5 text-uppercase">Все още няма подкатегории в <strong>@Model.Category</strong></p>
            }
            else
            {
                <h3>Избери от нашите продукти за<span> @Model.Category</span></h3>
            }
        </div>
        
        @if (Model.SubCategories.Count > 0)
        {
            <div class="row">
                @foreach (var subCategory in Model.SubCategories)
                {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="member-img">
                            <a asp-area="" asp-controller="Shop" asp-action="Products" asp-route-page="1" asp-route-id="@subCategory.Id">
                                <img src="@subCategory.Url" class="img-fluid cropped1 zoom-img" alt="">
                            </a>
                        </div>
                        <div class="member-info">
                            <h4><a asp-area="" asp-controller="Shop" asp-action="Products" asp-route-page="1" asp-route-id="@subCategory.Id" style="color: #00283a">@subCategory.Name</a></h4>
                            <span class="col-2 badge badge-primary" style="background-color: #00283a;">@subCategory.Count</span>
                        </div>
                    </div>
                </div>
                }
            </div>
        }

        </div>
</section><!-- End Team Section -->