@model List<LipitaSystems.Web.ViewModels.ViewModels.Cart.CartViewModel>
@{
    var totalSum = Model.Sum(x => x.Price * x.Quantity);
}
<br>
<br>
<br>
<br>
<br>
<section class="mt-5 container">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-8">

            <!-- Card -->
            <div class="mb-3">
                <div class="pt-4 wish-list">

                    <h5 class="mb-4">Количка (<span>@Model.Count</span> продукта)</h5>
                    <hr>
                    @foreach (var product in Model)
                    {
                        <div class="row mb-4">
                            <div class="col-md-5 col-lg-3 col-xl-3">
                                <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                    <img class="img-fluid w-100"
                                         src="@product.ImageUrl" alt="Sample">

                                </div>
                            </div>
                            <div class="col-md-7 col-lg-9 col-xl-9">
                                <div>
                                    <div class="d-flex justify-content-between row">
                                        <div class="col-md-6">
                                            <p id="productId" hidden>@product.Id</p>
                                            <h5>@product.Product</h5>
                                            <p class="mb-3 text-muted text-uppercase small">@product.SubCategory</p>
                                        </div>
                                        <div class="col-md-5 offset-md-1">
                                            <h5>Количество:</h5>
                                            <div class="def-number-input number-input safari_only mb-0 w-100 form-inline offset-2">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                        class="minus decrease form-control-sm form-control form-group col-md-3 col-2 changeSum">
                                                    <i class="icofont-minus"></i>
                                                </button>
                                                <input class="quantity form-control form-control-sm form-group col-md-6 col-4" min="1" max="@product.ProductMaxQuantity" name="quantity" value="@product.Quantity" type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                        class="plus increase form-group form-control-sm form-control col-md-3 col-2 changeSum">
                                                    <i class="icofont-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <a asp-area="" asp-controller="Shop" asp-action="Cart" class="card-link-secondary small text-uppercase mr-3 text-danger removeFromCart">
                                                <i class="icofont-trash"></i> Махни от количката
                                            </a>
                                        </div>
                                        <p class="mb-0"><span><strong title="@product.Price" id="summary">Цена: @(@product.Price * @product.Quantity) лв.</strong></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                    }
                    <p class="text-primary mb-0">
                        <i class="fas fa-info-circle mr-1"></i> Не се бавете с поръчката, добавянето
                        на продуктите в кошницата ви не значи че ги запазвате.
                    </p>

                </div>
            </div>
            <!-- Card -->
            <!-- Card -->
            <div class="mb-3">
                <div class="pt-4">

                    <h5 class="mb-4">Очаквайте доставката между</h5>

                    <p class="mb-0"> Thu., 12.03. - Mon., 16.03.</p>
                </div>
            </div>
            <!-- Card -->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-4 mt-5">

            <!-- Card -->
            <div class="mb-3">
                <div class="pt-4">

                    <h5 class="mb-3">Крайна сума на поръчката</h5>

                    <ul class="list-group list-group-flush">
                        @foreach (var product in Model)
                        {
                            <li id="@product.Id" class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                @product.Product
                                <span>@product.Price лв. x @product.Quantity</span>
                            </li>
                        }
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                            <div>
                                <strong>Крайна сума</strong>
                                <strong>
                                    <p class="mb-0">(без Доставка)</p>
                                </strong>
                            </div>
                            <span id="totalSumField" class="text-danger h4">@totalSum лв.</span>
                        </li>
                    </ul>

                    <form method="post">
                        <input name="discoundCode" type="text" value="" hidden />
                        <button id="toCheckout" type="submit" class="btn btn-primary btn-block">Потвърждаване</button>
                    </form>

                </div>
            </div>
            <!-- Card -->
            <div class="mb-3">
                <div class="pt-4">

                    <a class="dark-grey-text d-flex justify-content-between" data-toggle="collapse" href="#collapseExample"
                       aria-expanded="false" aria-controls="collapseExample">
                        Добави код за отстъпка
                        <span><i class="icofont-arrow-down"></i></span>
                    </a>

                    <div class="collapse" id="collapseExample">
                        <div class="mt-3">
                            <div class="md-form md-outline mb-0">
                                <input type="text" id="discountCodeInput" class="form-control font-weight-light"
                                       placeholder="Код за отстъпка">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--Grid column-->

    </div>
    <!-- Grid row -->

</section>

@section Scripts
{
    <script src="~/js/ChangeQuantityInCart.js"></script>
    <script src="~/js/RemoveFromCart.js"></script>
    <script src="~/js/Checkout.js"></script>
}