@model LipitaSystems.Web.ViewModels.ViewModels.Products.ProductByIdViewModel

<br>
<br>
<br>
<main class="mt-5">
    <div class="container">
        <section class="mb-0">
            <nav aria-label="breadcrumb" class="">
                <ol class="breadcrumb bg-white">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Shop" asp-action="All">Магазин</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Shop" asp-action="AllSubCategories" asp-route-id="@Model.MainCategoryId">@Model.MainCategoryName</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Shop" asp-action="Products" asp-route-id="@Model.SecondaryCategoryId">@Model.SecondaryCategoryName</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
                </ol>
            </nav>
            <div class="row mt-5">

                <div class="col-md-6 mb-4 mb-md-0">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        @if (Model.ImagesUlr.Count() > 1)
                        {
                            <ol class="carousel-indicators">
                                @for (int i = 0; i < Model.ImagesUlr.Count(); i++)
                                {
                                    if (i == 0)
                                    {
                                        <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="active bg-primary"></li>
                                    }
                                    else
                                    {
                                        <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="bg-primary"></li>
                                    }
                                }
                            </ol>
                        }
                        <div class="carousel-inner"  style="height: 60vh; display: flex; align-items:center">
                            @for (int i = 0; i < Model.ImagesUlr.Count(); i++)
                            {
                                if (i == 0)
                                {
                                    <div class="carousel-item active">
                                        <img class="img-fluid d-block" src="@Model.ImagesUlr.ElementAt(i)" style="display: block; margin-left:auto; margin-right: auto; height: 100%" alt="@i slide">
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item">
                                        <img class="img-fluid d-block" src="@Model.ImagesUlr.ElementAt(i)" style="display: block; margin-left:auto; margin-right: auto; height: 100%" alt="@i slide">
                                    </div>
                                }
                            }
                        </div>
                        @if (Model.ImagesUlr.Count() > 1)
                        {
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon bg-primary rounded-lg" aria-hidden="true"></span>
                                <span class="sr-only text-primary">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon bg-primary rounded-lg" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <p id="productId" hidden>@Model.Id</p>
                    <h5>@Model.Name</h5>
                    <p class="mb-4 text-muted text-uppercase small">@Model.SecondaryCategoryName</p>
                    @if (Model.DiscountPercentage == null)
                    {
                        <p><span class="mr-1 h4"><strong>@Model.OriginalPrice лв.</strong></span></p>
                    }
                    else
                    {
                        <p><span class="mr-1 h4 text-danger"><strong><del class="text-dark h5">@Model.OriginalPrice лв</del> | @Model.PriceAfterDiscout лв</strong></span></p>
                    }
                    <p class="pt-1">@Model.Description</p>
                    <hr>
                    @if (Model.QuantityInStock <= 0)
                    {
                        <p class="text-danger"><strong>Изчерпано!</strong></p>
                    }
                    else if (Model.QuantityInStock <= 5)
                    {
                        <p class="text-warning"><strong>Последни бройки!</strong></p>
                    }
                    else
                    {
                        <p class="text-dark"><strong>Налично в момента</strong></p>
                    }
                    @if (Model.QuantityInStock > 0)
                    {
                        <hr>
                        <p>Количество</p>
                        <div class="btn-group col-md-4 col-7" role="group" aria-label="Basic example">
                            <button id="minisQuanityProduct" type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="btn btn-secondary"><i class="icofont-minus"></i></button>
                            <input id="productQuantity" type="number" class="form-control" min="1" max="@Model.QuantityInStock" value="1" />
                            <button id="plusQuanityProduct" type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="btn btn-secondary"><i class="icofont-plus"></i></button>
                        </div>

                        <hr>
                        @if (Model.PriceAfterDiscout != null)
                        {
                            <h5>Обща цена: <span id="totalSumField" class="text-danger h4">@Model.PriceAfterDiscout лв.</span></h5>
                        }
                        else
                        {
                            <h5>Обща цена: <span id="totalSumField" class="text-primary h4">@Model.OriginalPrice лв.</span></h5>
                        }
                        <a id="BuyTheProduct" asp-area="" asp-controller="Shop" asp-action="Cart" class="btn-primary btn btn-md mr-1 mb-2">Купи сега</a>
                        <button type="button" id="shoppingCartBtn" class="btn-outline-dark btn btn-md mr-1 mb-2"><i class="icofont-shopping-cart">Добави в количка</i></button>
                    }
                </div>
            </div>
        </section>
        <div>

        </div>
    </div>
</main>
<hr>

@section Scripts
{
    <script src="~/js/AddProductToTheCockies.js"></script>
    <script src="~/js/IncreaseTotalSumOfProduct.js"></script>
}