@model IEnumerable<LipitaSystems.Data.Models.DiscountCode>

@{
    ViewData["Title"] = "Index";
}

<br>
<br>
<br>
<section class="mt-5 container">
    <h1>Кодове за отстъпка</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Създай нов</a>
    </p>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>
                    Код
                </th>
                <th>
                    Процент намаление
                </th>
                <th>
                    Работи ли в-ъ вече намалени продукти
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiscountPercentage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DoesWorkOnDiscountedProducts)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                        <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Инфо</a> |
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>